<form method="post" action="/posts">


  <label for="name">Name: </label>
  <input type="text" id="name" name="name">
  <label for="content">Content: </label>
  <input type="text" id="content" name="content">
  <input type="submit" value="submit">


</form>
